/* completed todos */

.completed-container {
  /* display: flex; 
  flex-direction: column; */
  gap: var(--gap-md);
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
}

.completed-container span {
  font-size: 1rem;
  font-weight: 700;
}
.completed-todos-container {
  /* border: 1px solid var(--hover-color);
  border-radius: var(--border-radius-sm); */
}

.completed-header {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  padding: 4px;
  /* border: 1px solid var(--hover-color); */
}
.completed-header:hover {
  background-color: var(--hover-color);
  /* color: #fff; */
}
.completed-header:active {
  background-color: var(--active-color);
}

/* todo elements */
.todo__project--name {
  font-size: 0.7rem;
}

.completed-header:hover {
  cursor: pointer;
}
