/* GENERAL NAV ITEMS */
.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: (auto-fill, minmax(200px, 1fr)); */
  gap: 8px;
  padding: 4px;
  position: sticky;
  border-bottom: 1px solid #333;
  background-color: var(--background-color);
}
.nav__main--item {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
  min-width: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.nav__main--item:hover {
  background-color: #ff5454;
  cursor: pointer;
}

/* menu name */
.item__lower-div {
  color: #555;
  font-weight: 700;
  font-size: 0.9rem;
  grid-column: span 2;
}

/* icon */
.item__icon {
  grid-column: span;
  justify-self: start;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__icon > svg {
  width: 27px;
  height: auto;
}

/* number */
.item__number {
  justify-self: end;
  font-size: 1.2rem;
}
