input,
button,
select,
textarea {
  font-family: inherit;
  border-radius: var(--border-radius-sm);
}

textarea {
  resize: none;
  padding: var(--padding-sm);
}

fieldset {
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-sm);
}
