/* STRUCTURE */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* gap: 16px; */
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  border-left: 1px solid #333;
  padding: 1rem;
  gap: var(--gap-xl);
}
