@media (max-width: 1078px) {
  .item-container {
    grid-template-columns: 1fr; /* stack items on smaller screens */
    /* padding: 12px 0px; */
  }
  .nav__main--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    gap: 4px;
  }

  .item__icon {
    order: 1;
  }
  .item__lower-div {
    order: 2;
    margin-right: auto;
  }
  .item__number {
    order: 3;
    padding-right: 3px;
    font-size: 1rem;
  }
  .detail-todo-content {
    /* FIXME:
        Add translate -50%
    */
    /* margin: 12% auto; */
  }
}
@media (max-width: 745px) {
  .item__lower-div span,
  .item__upper-div span {
    font-size: 0.7rem;
  }
  .item__icon > svg {
    width: 22px;
    height: auto;
  }
  .item__number {
    font-size: 0.9rem;
  }

  .nav__project--text {
    font-size: 0.9rem;
  }

  .nav__project .btn svg {
    width: 18px;
    height: auto;
  }

  @media (max-width: 667px) {
    .container {
      grid-template-columns: 1fr;
      position: relative;
    }
    .detail-todo-content {
      margin: 15% auto;
    }

    #content {
      border: none;
    }
    .overlay {
      z-index: 4000;
    }
    .header {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 2000;
      top: -100vh;
      /* transition here */
      transition: var(--trans-to-top);
      /* padding: 16px; */
    }
    .nav {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
    }

    .item__lower-div > span {
      font-size: 0.9rem;
    }
    .nav__project--btn-div {
      gap: 16px;
    }

    .delete-confirm-modal-content {
      /* FIXME:
          MARGIN
      */
      width: 80%;
      /* margin-top: 62%; */
    }
    #deleteConfirmForm h3 {
      font-size: 0.8rem;
      text-align: center;
    }

    .hamburger-menu-btn {
      display: block; /* Only show the hamburger on small screens */
      position: absolute;
      top: 10px;
      /* left: calc(100vw - 40px); */
      font-size: 24px;
      z-index: 2001;
      cursor: pointer;
      width: min-content;
    }

    .nav__logo-div--absolute {
      opacity: 0;
      visibility: hidden;
      z-index: 2001;
      transition: var(--trans-opacity-visibility);
    }
    .nav__logo-div--absolute.logo-active {
      opacity: 1;
      visibility: visible;
      transition: var(--trans-opacity-visibility);
    }

    .header.active {
      /* height: calc(100% - 19px); */
      /* this is because of the new project + btn at the bottom */
      top: -18px;
      /* top: 0; */
    }

    #content,
    .nav {
      width: 100vw;
      height: 100vh;
    }

    #content,
    .nav {
      /* visible content below hamburger */
      padding-top: 72px;
      margin-bottom: 18px;
    }

    .todo-header {
      font-size: 1rem;
    }

    #add-todo-btn {
      padding: 0.2rem 0.5rem;
    }

    .add-project-btn,
    .add-todo-btn__absolute {
      width: 100vw;
      left: 0;
      background-color: var(--btn-white);
    }

    /* DETAIL MODAL */
    .detail-todo-content {
      position: absolute; /* Change to absolute */
      top: 50%; /* Position at 50% from top */
      left: 50%; /* Center from the left */
      transform: translate(
        -50%,
        -65%
      ); /* Move back by own dimensions to center */
    }
  }

  @media (max-width: 241px) {
    #add-todo-btn {
      padding: 0.1rem 0.25rem;
    }
  }
}
