@media (max-width: 1078px) {
  .item-container {
    grid-template-columns: 1fr; /* stack items on smaller screens */
  }
  .nav__main--item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }
  .nav__main--item svg {
    display: none;
  }
}
@media (max-width: 745px) {
  .item__lower-div span,
  .item__upper-div span {
    font-size: 0.7rem;
  }

  .nav__project--text {
    font-size: 0.7rem;
  }
  .nav__project .btn svg {
    width: 14px;
    height: 14px;
  }

  @media (max-width: 494px) {
    /* TODO: container grid temp col: 1fr */
    /* .header absolute */
    /* .header outside of screen */
    /* Add hamburger menu */
    /* hamburger on click, .header appears with z-index 2000 */

    .container {
      grid-template-columns: 1fr;
      position: relative;
    }
    .header {
      /* flex */
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 2000;
      top: -100vh;
    }

    .hamburger-menu-btn {
      display: block; /* Only show the hamburger on small screens */
      position: absolute;
      top: 10px;
      /* left: calc(100vw - 40px); */
      font-size: 24px;
      z-index: 2001;
      cursor: pointer;
      width: min-content;
    }

    .header.active {
      top: 0;
    }

    #content,
    .nav {
      width: 100vw;
      height: 100vh;
    }

    #content,
    .nav {
      /* visible content below hamburger */
      padding-top: 72px;
    }

    .todo-header {
      font-size: 1rem;
    }

    #add-todo-btn {
      padding: 0.2rem 0.5rem;
    }

    .add-project-btn {
      width: 100vw;
    }

    /* DETAIL MODAL */
    .detail-todo-content {
      position: absolute; /* Change to absolute */
      top: 50%; /* Position at 50% from top */
      left: 50%; /* Center from the left */
      transform: translate(
        -50%,
        -65%
      ); /* Move back by own dimensions to center */
    }
  }

  @media (max-width: 241px) {
    #add-todo-btn {
      padding: 0.1rem 0.25rem;
    }
  }
}
