/* TODOS */
.todo__header--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.todos-container {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.todos-wrapper {
  /* TODO: add border or not? */
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius-sm);
  margin-top: var(--margin-sm);
}

.todo-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  /* position: relative; */
  gap: 1rem;

  pointer-events: auto;
  background-color: #fff;
  color: #333;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); */
  /* border-radius: 4px; */
  /* transition: var(--trans-to-top); */

  padding: 12px;

  width: 100%;
  user-select: none;
  position: relative;
}

.todo-container > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container:hover {
  background-color: var(--hover-color);
  color: var(--font-color-white);
  cursor: pointer;
}

.todo-container:hover .btn {
  color: var(--font-color-white);
}

.todo__project--btn-div {
  display: flex;
  align-items: center;
}

/* COMMENTED DUE TO COLOR */
/* .todo-container:hover .btn:hover {
  color: var(--btn-hover-color);
}

.todo-container:hover .btn:active {
  color: var(--btn-active-color);
} */

.todo-container:active {
  background-color: var(--active-color);
}

.todo-header {
  color: var(--font-color-primary);
}

/* Add a pseudo-element for medium tasks */

.todo__project--btn-div::before {
  padding: 4px;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);

  display: inline-block;
  color: var(--color-white);
  font-weight: bold;

  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.todo-container__medium .todo__project--btn-div::before {
  content: "MEDIUM";
  background-color: var(--color-scheduled-tint);
}

.todo-container__urgent .todo__project--btn-div::before {
  content: "URGENT";
  background-color: var(--color-today);
}
.todo-container__chill .todo__project--btn-div::before {
  content: "CHILL";
  background-color: var(--color-all-tint);
}
