/* DETAIL MODAL */
.detail-todo-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.overlay {
  /* PARENT OF ALL */
  position: fixed;
  display: flex; /* this makes the modal visible on load, the .hidden doesn't work i Think */
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.modal-hidden {
  display: none;
}

/* DIRECT CHILD OF OVERLAY */
.detail-todo-content {
  background-color: var(--background-color);
  padding: 20px;
  border: 1px solid var(--border-color-strong);
  border-radius: var(--border-radius-md);
  width: 80%;
  margin: 15% auto;
  position: relative;
}

/* INPUTS */
#detailTodoForm {
  font-size: 0.7rem;
}

#detailTodoForm input,
#detailTodoForm textarea,
#detailTodoForm select,
#detailTodoForm fieldset,
#detailTodoForm button {
  border: 1px solid var(--border-color-strong);
}

#detailTodoForm label,
#detailTodoForm legend {
  font-weight: 700;
}

#detailTodoForm fieldset div,
.todoDetailIsFinishedDiv {
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
}

#todoDetailName {
  border: none;
  border-bottom: 1px dashed #333;
  outline: none;
  padding: 0 2px;
}

#todoDetailDueDate,
#todoDetailDesc {
  font-size: inherit;
}

.todoDetailWrap {
  display: flex;
  flex-direction: column;
}

/* CLOSE BTN */
/* TODO: use variables for button colors */
.close {
  color: #333;
  position: absolute;
  right: 16px;
  top: 0;
  font-size: 28px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: #ff5454;
}
