/* TODOS */
.todo__header--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.todos-container {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.todos-wrapper {
  /* padding-top: 1rem; */
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius-sm);
  margin-top: var(--margin-sm);
}

.todo-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1rem;

  pointer-events: auto;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  width: 100%;
  user-select: none;
}

.todo-container:hover {
  background-color: var(--hover-color);
  color: var(--font-color-white);
  cursor: pointer;
}

.todo-container:hover .btn {
  color: var(--font-color-white);
}

/* COMMENTED DUE TO COLOR */
/* .todo-container:hover .btn:hover {
  color: var(--btn-hover-color);
}

.todo-container:hover .btn:active {
  color: var(--btn-active-color);
} */

.todo-container:active {
  background-color: var(--active-color);
}

.todo-header {
  color: var(--font-color-primary);
}
