:root {
  /* COLOR (EVENT) */
  --hover-color: #333;
  --active-color: #000;

  /* COLOR (BTN EVENT) */
  --btn-active-color: #000;
  --btn-hover-color: #333;

  --btn-warning-hover: #ff4444;
  --btn-warning-active: rgb(255, 0, 0);

  /* COLOR (FONT) */
  --font-color-white: #fff;
  --font-color-primary: #333;

  /* COLOR (SCHEME) */
  --color-primary: #333;
  --background-color: #fff;

  /* COLOR (BUTTON) */
  --btn-white: #fff;

  /* BORDER */
  --border-color-black: #000;
  --border-color-strong: #333;
  --border-color-light: #b6b6b6;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* WHITESPACE */
  --margin-sm: 16px;
  --padding-sm: 4px;
  --padding-md: 8px;

  /* GAP */
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 24px;

  /* ANIMATIONS/TRANSITIONS */
  --trans-to-top: top 0.2s ease-in-out;
  --trans-opacity-visibility: opacity 0.1s, visibility 0.2s;
}
