:root {
  /* COLOR (EVENT) */
  --hover-color: #e7e7e7;
  --active-color: #c9c9c9;

  /* COLOR (BTN EVENT) */
  --btn-active-color: #c9c9c9;
  --btn-hover-color: #e7e7e7;

  --btn-warning-hover: #ff4444;
  --btn-warning-active: #b33030;

  /* COLOR (FONT) */
  --color-white: #fff;
  --font-color-primary: #333;

  /* COLOR (SCHEME) */
  --color-primary: #333;
  --background-color: #fff;

  --color-today-tint: #c6808d;
  --color-today: #8c001a;
  --color-today-shade: #620012;

  --color-scheduled-tint: #ff9000;
  --color-scheduled: #b36500;
  --color-scheduled-shade: #804800;

  --color-all-tint: #46acc2;
  --color-all: #317888;
  --color-all-shade: #235661;

  --color-priority-tint: #edc9ff;
  --color-priority: #776580;
  --color-priority-shade: #53475a;

  /* COLOR (BUTTON) */
  --btn-white: #fff;

  /* BORDER */
  --border-color-black: #000;
  --border-color-strong: #333;
  --border-color-light: #b6b6b6;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* WHITESPACE */
  --margin-sm: 16px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;

  /* GAP */
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 24px;

  /* ANIMATIONS/TRANSITIONS */
  --trans-to-top: top 0.2s ease-in-out;
  --trans-opacity-visibility: opacity 0.1s, visibility 0.2s;
}
