:root {
  /* COLOR (EVENT) */
  --hover-color: #333;
  --active-color: #000;

  /* COLOR (BTN EVENT) */
  --btn-active-color: #000;
  --btn-hover-color: #333;

  /* COLOR (FONT) */
  --font-color-white: #fff;

  /* COLOR (SCHEME) */
  --color-primary: #333;

  /* COLOR (BUTTON) */
  --btn-white: #fff;

  /* BORDER */
  --border-color-strong: #333;
  --border-radius-sm: 4px;

  /* WHITESPACE */
  --margin-sm: 16px;
  --padding-sm: 4px;

  /* GAP */
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 24px;
}
