@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-y: auto;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* STRUCTURE */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 16px;
  min-height: 100vh;
  position: relative;
}

.content {
  background-color: green;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.header {
  background-color: #007bff;
  position: relative;
  width: 20vw;
}

/* NAV */
.nav {
  display: flex;
  flex-direction: column;
  width: 20vw; /* 1fr 4fr, 1fr == 20vw */
  height: calc(100% - 19px);
  position: fixed;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.nav__project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.nav__project--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.nav__project:hover,
.todo-container:hover {
  background-color: bisque;
  cursor: pointer;
}

.nav__project:active,
.todo-container:active {
  background-color: rgb(212, 188, 159);
}

.nav__project--btns {
  display: flex;
}

/* GENERAL NAV ITEMS */

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: (auto-fill, minmax(200px, 1fr)); */
  gap: 8px;
  padding: 4px;
  position: sticky;
}

.item__upper-div {
  display: flex;
  justify-content: space-between;
}

.nav__main--item {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
  min-width: 85px;
}

.nav__main--item:hover {
  background-color: #ff5454;
  cursor: pointer;
}

.item__lower-div span {
  color: #555;
  font-weight: 700;
  font-size: 0.8rem;
}

/* .nav__project--btns .btn {
  width: min-content;
} */

/* MODAL */
.modal-hidden,
.hidden {
  display: none;
}

/* TODOS */
.todo__header--div {
  display: flex;
  justify-content: space-between;
  /* TODO: make header sticky
  position: sticky;
  top: 20px;
  z-index: 2000; */
  align-items: center;
  background-color: white;
}

.todos-container {
  padding-top: 1rem;
  position: relative;
  overflow: visible;
}

.todo-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1rem;
}

.todo-header {
  padding-bottom: 0.5rem;
  padding-left: 8px;
}

/* BTNS */

.nav__project--btn-div {
  display: flex;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav__project .btn svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-project-btn {
  position: fixed;
  z-index: 100;
  bottom: 0;
}

#add-todo-btn {
  margin: 0 8px 8px 0;
}

/* DETAIL MODAL */
.detail-todo-container {
  display: flex;
  flex-direction: column;
}

.overlay {
  /*display: none;*/
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.detail-todo-content,
.delete-confirm-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close {
  color: #333;
  position: absolute;
  right: 16px;
  top: 0;
  font-size: 28px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: #ff5454;
}

/* completed todos */
.completed-container {
  padding: 8px;
  /* display: flex; using display flex makes it visible
  justify-content: space-between; */
}

.completed-container span {
  font-size: 1rem;
  font-weight: 700;
}

.completed-header {
  display: flex;
  justify-content: space-between;
}

/* todo elements */
.todo__project--name {
  font-size: 0.7rem;
}

.completed-header:hover {
  cursor: pointer;
}

/* DELETE CONFIRM MODAL */

#deleteConfirmForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__project.highlight {
  border: 2px dashed #007bff;
  background-color: #e3f2fd;
}

.todo-container {
  pointer-events: auto;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  width: 100%;
  flex-shrink: 0;
  user-select: none;
}

.todo-container.is-dragging {
  opacity: 1;
  /* scale: 1.05; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgb(50, 50, 50);
  color: #fff;
}

/* @media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
   .nav {
    flex-direction: row;
  } 
} */

@media (max-width: 931px) {
  .item-container {
    grid-template-columns: 1fr; /* stack items on smaller screens */
  }
  .nav__main--item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 4px;
  }
  .item-container svg {
    display: none;
  }
}
@media (max-width: 600px) {
}
