@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: auto;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.nav__project,
.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.nav__project:hover,
.todo-container:hover {
  background-color: bisque;
  cursor: pointer;
}

.nav__project:active,
.todo-container:active {
  background-color: rgb(212, 188, 159);
}

.nav {
  display: flex;
  flex-direction: column;
  height: calc(100% - 19px);
  position: fixed;
  overflow-y: auto;
  width: 200px;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
}

/* STRUCTURE */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 16px;
  min-height: 100vh;
}

.content {
  background-color: green;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

/* MODAL */
.modal-hidden,
.hidden {
  display: none;
}

/* TODOS */
.todo__header--div {
  display: flex;
  justify-content: space-between;
  /* TODO: make header sticky
  position: sticky;
  top: 20px;
  z-index: 2000; */
  align-items: center;
  background-color: white;
}

.todos-container {
  padding-top: 1rem;
  position: relative;
  overflow: visible;
}

.todo-header {
  padding-bottom: 0.5rem;
  padding-left: 8px;
}

/* BTNS */
.btn {
  cursor: pointer;
}

.add-project-btn {
  position: fixed;
  z-index: 100;
  bottom: 0;
}

#add-todo-btn {
  margin: 0 8px 8px 0;
}

/* DETAIL MODAL */
.detail-todo-container {
  display: flex;
  flex-direction: column;
}

.overlay {
  /*display: none;*/
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.detail-todo-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close {
  color: #333;
  position: absolute;
  right: 16px;
  top: 0;
  font-size: 28px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: #ff5454;
}

/* completed todos */
.completed-container {
  padding: 8px;
  /* display: flex; using display flex makes it visible
  justify-content: space-between; */
}

.completed-container span {
  font-size: 1rem;
  font-weight: 700;
}

.completed-header {
  display: flex;
  justify-content: space-between;
}

/* NAV ITEMS */

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 8px;
  padding: 4px;
  position: sticky;
}

.item__upper-div {
  display: flex;
  justify-content: space-between;
}

.nav__main--item {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
}

.nav__main--item:hover {
  background-color: #ff5454;
  cursor: pointer;
}

.item__lower-div span {
  color: #555;
  font-weight: 700;
  font-size: 0.8rem;
}

/* todo elements */
.todo__project--name {
  font-size: 0.7rem;
}

.container,
.content,
body,
html {
  overflow: visible; /* Ensure this does not conflict */
}
